*{
    background-color: black;
    font-family: 'Gloock', serif;
}

.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 3rem;
    --bs-btn-font-size: 7rem;
    --bs-btn-border-radius: 1rem;
    background-color: rgb(39, 39, 39);
}

.fa-regular, .far {
    font-weight: 400;
    background-color: rgb(39, 39, 39);
}

.container{
    margin-top: 20rem
}